language: objective-c

osx_image: xcode8

env:
  matrix:
    - TEST_PLATFORM="platform=iOS Simulator,OS=9.0,name=iPhone 6"
    - TEST_PLATFORM="platform=iOS Simulator,name=iPhone 7,OS=10.0"

rvm:
    - 2.2.2

before_install:
    - rvm @global do gem uninstall bundler --all --executables
    - gem uninstall bundler --all --executables
    - gem install bundler --version '1.11.2'
    - gem install cocoapods -v '1.3.1'
    - gem install slather
    - gem install xcpretty -N --no-ri --no-rdoc
    - brew update
    - if brew outdated | grep -qx xctool; then brew upgrade xctool; fi
    - pod install

script:
    - set -o pipefail
    - xcodebuild clean build -sdk iphonesimulator -destination "${TEST_PLATFORM}" -workspace Snowplow.xcworkspace -scheme Snowplow CODE_SIGNING_REQUIRED=NO | xcpretty

after_success: slather
