
name: Snyk

on:
  push:
    branches: [ master ]

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Checkout demo app
      uses: actions/checkout@v2
      with:
        repository: snowplow-incubator/snowplow-swift-ios-tracker-examples
        path: examples
      
    - name: Run Snyk to check for vulnerabilities in tracker
      uses: snyk/actions/cocoapods@master
      with:
        command: monitor
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        COMMAND: cd examples/demo/SnowplowSwiftCocoapodsDemo
